.App {
  text-align: center;
  margin: 0 auto;
  max-width: 44rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.code-box {
  border: 2px solid #ccc;
  margin: 1rem auto;
  width: 206px;
  position: relative;
  border-radius: 8px;
}
.code-row {
  display: flex;
  border-bottom:2px solid #ccc;
  padding: 2px;
}
.code-space {
  background-color:#bbb;
  width: 36px;
  height: 36px;
  margin: 2px;
  border-radius: 24px;
  border: 1px solid #bbb;
  box-shadow: 2px 1px 1px #8b98ca;
}
.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  left: -64px;
}
.color-picker:hover {
  cursor: pointer;
}

.code-space:hover {
  cursor: pointer;
}
.pick {
  background-color: #ccc;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 1px #8b98ca;
}

.code-row.highlight {
  background-color: #c6fbfb;
}
.code-space.highlight {
  box-shadow: 2px 2px #646060;
  animation-name: toggleOpacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes toggleOpacity {
  0% { opacity: 1; } /* Turn off */
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
.peg {
  height: 8px;
  width: 8px;
  border-radius: 16px;
  float: left;
  margin: 1px;
  background-color: #bbb;
  border: 1px solid #bbb;
  box-shadow: 2px 1px 1px #8b98ca;

}
.grade {
  width: 24px;
  padding: 4px;
  margin: 5px 0;
}


.blue {
  background-color: #0000b9;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.green {
  background-color: #12ad12;
}

.red {
  background-color: #e13838;
}

.yellow {
  background-color: #f1f12f;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.blank {
  background-color: #bbb;
}

.answer-row {
  background-color: #555;
}

.answer-row.revealed {
  background-color: white;
}

label {
  cursor: pointer;
  padding: 0.5rem;
  display: inline-block;
}

.button {
  width: 196px;
  color: white;
  border-radius: 8px;
  background-color: #4e4a76;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #333;
  cursor: pointer;
}
.off {
  background-color: #6e6a76;
}
h1, h2 {
  color: #222;
  margin: 0.85rem 0;
}

.icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  top: 8px;
  left: 0r;
}

.shared-game h1 {
  color: #4e4a76;
}

.share {
  margin: 1rem;
  border-top: 1px solid #ddd;
  padding: 1rem;
}
.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.options {
  margin: 1rem 0;
}
